In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Flight_data.csv')

In [3]:
data.head()

,Departure City,Arrival City,Departure Date,Flight Duration,Delay Minutes,Customer ID,Name,Booking Class,Frequent Flyer Status,Route,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned
0,Wilsonstad,Lake Johnmouth,2023-05-02 20:11:09,1.27581,120,3769,Daniel Oliver,Business,Gold,MEL-BNE,370.638128,382.947396,-0.932755,MEL,LHR,0.632226,4245,True
1,New Brent,Port Wanda,2023-04-21 00:10:14,1.27581,35,3529,Deborah Hall,Economy,Platinum,BNE-SYD,114.529016,394.583641,-1.005569,MEL,SIN,1.265026,833,True
2,South Samanthaberg,Lake Meganside,2023-05-12 15:16:31,0.72111,67,1303,Mary York,Economy,Platinum,MEL-BNE,164.468018,479.832444,1.761384,MEL,LAX,1.141651,2568,True
3,Lake Gracefurt,Jamesberg,2023-06-13 20:53:09,-0.94299,72,2965,Christina Sanchez,Economy,Gold,BNE-SYD,318.903167,286.301632,-0.520139,MEL,LAX,1.129291,284,True
4,Owenborough,Kelleymouth,2023-05-15 23:06:14,-0.38829,101,8779,Dustin Owens,Economy,Silver,BNE-SYD,389.971051,407.463316,-0.665768,BNE,SIN,1.218239,2805,True

In [4]:
data.columns

Index(['Departure City', 'Arrival City', 'Departure Date', 'Flight Duration',
       'Delay Minutes', 'Customer ID', 'Name', 'Booking Class',
       'Frequent Flyer Status', 'Route', 'Ticket Price', 'Competitor Price',
       'Demand', 'Origin', 'Destination', 'Profitability', 'Loyalty Points',
       'Churned'],
      dtype='object')

In [5]:
list(data['Name'])

['Daniel Oliver',
 'Deborah Hall',
 'Mary York',
 'Christina Sanchez',
 'Dustin Owens',
 'Nicole Morales',
 'Monica Montgomery',
 'Jason Whitaker',
 'Michael Wade',
 'David Cline',
 'Susan Washington',
 'Ann Garcia',
 'Kristopher Drake',
 'Amy Decker',
 'William Chambers',
 'Tommy Odonnell',
 'Martin Lamb',
 'Matthew Thompson',
 'Matthew Alexander',
 'Jennifer Middleton',
 'James Larson',
 'Kathryn Tucker',
 'Mrs. Lisa Horton DDS',
 'Tracey Mayer',
 'Patricia Avery',
 'Anna Morgan',
 'Dr. Earl Phillips',
 'Theodore Chang PhD',
 'Penny Sanchez',
 'Matthew Bird',
 'Kimberly Sullivan',
 'Roberta Ramirez',
 'Paul Hardy',
 'Matthew Cannon',
 'Kayla Jones',
 'Michael Thomas',
 'Matthew Rogers',
 'Colin Robertson',
 'Hayden Wright',
 'Diane Osborne',
 'Anna Suarez',
 'Jessica Wood',
 'Thomas Wise',
 'Timothy Lloyd',
 'Alexis Anderson',
 'Scott Gill',
 'Christina Perez',
 'Robert Cook',
 'Sandy York',
 'Jordan Howard',
 'Kevin Roach',
 'Jason Huffman',
 'Willie Shaffer',
 'Paul Morton',
 'Shawn Miller',
 'Victor Estrada',
 'Carolyn Crosby',
 'Melissa Horton',
 'Terri Perkins',
 'Aaron Williams',
 'Patrick Cook',
 'Melissa Francis',
 'Manuel Long',
 'Jennifer Hernandez',
 'Andrea Williams',
 'James Hughes',
 'Kathryn Mckay',
 'Derrick Williams',
 'Bridget Sanchez',
 'Kevin Mejia',
 'Erik Robinson',
 'Adrian Palmer',
 'Peter Simmons',
 'Christopher Meyer',
 'Barry Jones',
 'Matthew Mcbride',
 'Eric Lloyd',
 'Brandon Schneider',
 'Eric Johnston',
 'Cheryl Lopez',
 'Willie Ferguson',
 'Sarah Norton',
 'Jorge Mckinney',
 'Lauren Hanson',
 'Charles Lutz',
 'Rhonda Johnson',
 'Miss Jessica Sharp',
 'Amanda Harris',
 'Mary Barber',
 'Keith Strickland',
 'Timothy Myers',
 'Maxwell Cruz',
 'Michael Dixon',
 'Darren Garcia',
 'Teresa Smith',
 'Brittney Swanson',
 'Jessica Johnson',
 'Amber Mcclure',
 'Lisa Luna',
 'Jeffrey Turner']

In [19]:
name=list(input().split(','))
for i in range(0,len(name)):
    print(data[data[Name]==name[i]])
#df=data[data['Name']==name]
#df

Cheryl Lopez,Jason Huffman

NameError: name 'Name' is not defined

In [ ]:
class average_delay:
    def detail(self, name,):
        self.df[Name] = name
        if name in list(data['Name']):
            df=data[data['Name']==name]

In [ ]:
class average_delay:
    name = input()
    def detail(self):
        self.name = name
        if name in list(data['Name']):
            df=data[data['Name']==name]

In [6]:
name =['Cheryl Lopez']

In [9]:
for i in name:
    if name in data['Name']:
        df=data[data['Name']==name]
        print(df)

In [10]:
df

NameError: name 'df' is not defined

In [13]:
df=data[data['Name']=='Cheryl Lopez']

In [14]:
df

,Departure City,Arrival City,Departure Date,Flight Duration,Delay Minutes,Customer ID,Name,Booking Class,Frequent Flyer Status,Route,Ticket Price,Competitor Price,Demand,Origin,Destination,Profitability,Loyalty Points,Churned
79,Brianshire,West Alexis,2023-04-26 09:52:36,1.27581,34,7057,Cheryl Lopez,First,Platinum,SYD-MEL,498.549369,245.276277,1.615755,SYD,LHR,0.53278,4654,True

In [15]:
name[0]

'C'