In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
sns.set(color_codes=True)
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

In [2]:

#df2 = pd.read_csv('Walmart.csv')

In [3]:
df1 = pd.read_csv('OnlineRetail.csv',encoding= 'unicode_escape')

In [4]:
df1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [16]:
df1['CustomerID'].value_counts()

17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
           ...
13391.0       1
16579.0       1
13366.0       1
17763.0       1
17846.0       1
Name: CustomerID, Length: 4372, dtype: int64

In [22]:
len(df1['InvoiceNo'].unique())

25900

In [24]:
df1['UnitPrice'].value_counts()

1.25       50496
1.65       38181
0.85       28497
2.95       27768
0.42       24533
           ...
4575.64        1
125.96         1
147.13         1
3060.60        1
244.51         1
Name: UnitPrice, Length: 1630, dtype: int64

In [21]:
df1['StockCode'].value_counts()

85123A      2313
22423       2203
85099B      2159
47566       1727
20725       1639
            ...
90092          1
84031b         1
90068          1
21283          1
DCGS0067       1
Name: StockCode, Length: 4070, dtype: int64

In [5]:
df2 = pd.read_csv('Walmart.csv',encoding= 'unicode_escape')

In [6]:
df2.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [7]:
df2.shape

(6435, 8)

In [13]:
for i in df2.columns:
    print('-----------%s--------------',i)
    print(df2[i].value_counts())

-----------%s-------------- Store
43    143
41    143
33    143
29    143
25    143
21    143
17    143
13    143
9     143
5     143
1     143
44    143
40    143
36    143
32    143
28    143
24    143
20    143
16    143
12    143
8     143
37    143
45    143
39    143
2     143
35    143
31    143
27    143
23    143
19    143
15    143
11    143
7     143
3     143
42    143
38    143
34    143
30    143
26    143
22    143
18    143
14    143
10    143
6     143
4     143
Name: Store, dtype: int64
-----------%s-------------- Date
04-11-2011    45
12-10-2012    45
01-10-2010    45
11-06-2010    45
08-07-2011    45
              ..
03-08-2012    45
10-09-2010    45
18-03-2011    45
28-09-2012    45
15-10-2010    45
Name: Date, Length: 143, dtype: int64
-----------%s-------------- Weekly_Sales
300236.85     1
472044.28     1
684783.15     1
998672.85     1
942475.24     1
             ..
645618.59     1
813845.50     1
3766687.43    1
438068.71     1
2066187.72    1
Name: Weekly_Sales, Length: 6435, dtype: int64
-----------%s-------------- Holiday_Flag
0    5985
1     450
Name: Holiday_Flag, dtype: int64
-----------%s-------------- Temperature
50.43    11
67.87    10
72.62     9
76.03     9
70.28     9
         ..
78.33     1
63.99     1
48.21     1
56.63     1
72.59     1
Name: Temperature, Length: 3528, dtype: int64
-----------%s-------------- Fuel_Price
3.638    39
3.630    34
2.771    29
3.891    29
3.524    28
         ..
3.934     1
2.578     1
2.602     1
3.404     1
3.358     1
Name: Fuel_Price, Length: 892, dtype: int64
-----------%s-------------- CPI
129.898065    11
126.064000    11
126.234600    11
130.737871    11
126.208548    11
              ..
223.450688     1
217.276013     1
203.201097     1
210.887277     1
216.365588     1
Name: CPI, Length: 2145, dtype: int64
-----------%s-------------- Unemployment
8.099    78
8.163    56
7.852    56
7.931    52
6.891    52
         ..
7.138     4
8.665     4
8.243     4
6.573     4
5.217     4
Name: Unemployment, Length: 349, dtype: int64